h1 {
    background-color: rgb(175, 238, 238);
    color: black;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(images/background_frfr.png);
    /* background-size: cover;
    background-repeat: no-repeat; */
}

#btn-start{
    background-color:black;
    color: greenyellow;
    border: 3px solid #3F3F3F;
}

#Morty{
    align-items: center;
    margin: 50px;
}

#mortyName{
    background-color: rgb(220, 220, 220, 0.7);
    text-align: center;
}

#mortyBody{
    background-image: url(images/morty-derp-face.png);
    width: 300px;
    height: 300px;
    display: flex;
    background-size: cover;
    
}

#hub{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-image: url(images/hub_background.jpg);
    background-size: cover;
    background-position: -16px -21px;
    border: 7px solid #3F3F3F;
    align-items: center;
}



#timer{
    color: greenyellow;
    background-color: black;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#rules{
    color: greenyellow;
    background-color: black;
    text-align: center;
    visibility: hidden;
    }

#maintenance{
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-around;
max-height: 52px;
flex-grow: 4;
margin-top: 20px;
}

#stats {
    display: flex;
    justify-content: space-between;
    background-color: gray;
    border: 1px solid darkslategrey;
}

.stats{
    margin: 2vw;

}


.button{
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid black;
}


#btn-feed{
    background-image: url(images/feed_button.jpg);
    background-size: cover;
    text-align: center;
}

#btn-adventure{
    background-image: url(images/adventure-button.png);
    background-size: cover;
    text-align: center;
}

#btn-night{
    background-image: url(images/sleep_button.gif);
    background-size: cover;
    text-align: center;
}
